:root {
  --white: #FFFFFF;
  --deep-blue: #000000;
  --deep-orange: #CEA889;
  --background-color: #2B5265;
  --grey: #95A1B3;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  display: block;
  line-height: 2.5;
}

h2 {
  color: var(--deep-orange);
  font-size: 1.5rem;
  font-weight: 100;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: var(--background-color);
  font-family: sans-serif;
  color: var(--white);
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.grid {
  display: grid;
  grid-gap: 15px;
  place-items: center;
}
@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 992px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
.grid .col {
  grid-gap: 15px;
  padding: 15px;
}
.grid .col.image_block {
  -ms-flex-item-align: start;
      align-self: start;
  padding: 0;
}

.pad_bottom--15 {
  padding-bottom: 15px;
}

.pad_ltrb--40 {
  padding: 40px;
}

.pad_ltb--40 {
  padding-left: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.pad_tb--40 {
  padding: 40px 0px;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 768px) {
  .flex_row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 768px) {
  .flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.flex_row--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.general_btn {
  background-color: var(--deep-orange);
  width: 180px;
  max-width: 100%;
  color: var(--white);
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 30px;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.general_btn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.hero {
  background-image: url("/assets/hero.png");
  height: 80vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 0.62;
}
.hero nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 45px;
  padding-left: 8%;
  padding-right: 8%;
}
@media (max-width: 768px) {
  .hero nav {
    display: none;
  }
}
.hero .logo {
  color: white;
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
}
.hero .nav_image--logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 70px;
  max-width: 100%;
  color: red;
}
.hero nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;
}
.hero nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
}
.hero nav ul li a:hover {
  color: var(--deep-orange);
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.hero .btn {
  background-color: var(--grey);
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 30px;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}
.hero .btn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.hero .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  top: 40%;
  left: 8%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: var(--white);
  min-width: 50%;
  width: 50%;
}
.hero .hero-header {
  font-size: 2.5rem;
}
@media (max-width: 768px) {
  .hero .hero-header {
    font-size: 1.5rem;
  }
}
.hero .hero-brief--text {
  font-size: 15px;
}
@media (min-width: 768px) {
  .hero .hero-brief--text {
    font-size: 18px;
  }
}

.call_out {
  position: relative;
  width: 80%;
  left: 100px;
  padding: 25px;
  top: -6rem;
  background: rgba(0, 0, 0, 0.33);
  border-radius: 20px;
}
.call_out.call_out--header {
  font-family: "Arvo";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 67px;
}
.call_out.call_out--text {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
}

.music_lineUp--header {
  font-family: "Arvo";
  font-style: normal;
  font-weight: 400;
  line-height: 73px;
}

.music_lineU--background-image {
  background-image: url("/assets/WestlakeFishHouseSummer.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.music_lineUp--list {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  line-height: 3;
}

.background_shadow {
  display: grid;
  grid-template-columns: 1fr;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: rgba(0, 0, 0, 0.33);
  border-radius: 20px;
  margin: 0px 50px;
}
.background_shadow .meal_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 3;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: -90px;
}
.background_shadow .meal_section img {
  width: 60%;
}
@media (max-width: 560px) {
  .background_shadow .meal_section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .background_shadow .meal_section img {
    width: 100%;
  }
}
@media (max-width: 560px) {
  .background_shadow .meal_section {
    -ms-flex-item-align: start;
        align-self: flex-start;
    line-height: 4;
  }
  .background_shadow .meal_section .meal_item {
    margin-bottom: 30px;
  }
}

.booking_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.booking_section h2 {
  font-family: "Arvo";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 59px;
}
.booking_section .booking_table--section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 560px) {
  .booking_section .booking_table--section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 15px;
  }
}
@media (max-width: 768px) {
  .booking_section h2 {
    font-size: 18px;
    line-height: 40px;
  }
}
@media (max-width: 560px) {
  .booking_section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 15px;
  }
}

.store_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.store_section h2 {
  color: var(--white);
}
@media (max-width: 560px) {
  .store_section {
    margin-top: 20px;
  }
}
.store_section .store_items--inner-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  line-height: 1.5;
}
@media (max-width: 768px) {
  .store_section .store_items--inner-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 560px) {
  .store_section .store_items--inner-container {
    grid-template-columns: 1fr;
  }
  .store_section .store_items--inner-container .store_item {
    justify-self: center;
  }
}
.store_section .store_items--inner-container .store_item--image-container {
  margin-bottom: 10px;
}

.operation-times--section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.operation-times--section h2 {
  font-family: "Arvo";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 73px;
}
.operation-times--section .oparation-times--section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.operation-times--section img {
  max-width: 240px;
}
.operation-times--section li {
  line-height: 4;
}
@media (max-width: 768px) {
  .operation-times--section h2 {
    font-family: "Arvo";
    font-style: normal;
    font-weight: 400;
    font-size: 49px;
    line-height: 58px;
  }
  .operation-times--section li {
    line-height: 2;
  }
}
@media (max-width: 560px) {
  .operation-times--section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.operation-times--back-ground-image {
  background-image: url("/assets/FishHouseatsunrise.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 300px;
  padding: 50px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer li {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: inline-block;
  margin: 0px 15px;
}
footer li a {
  color: var(--deep-orange);
}
@media (max-width: 560px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .social-media-links {
    padding-top: 20px;
  }
  footer .social-media-links li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}