@font-face {
  font-family: "nunito sans";
  src: url(fonts/);
}
@font-face {
  font-family: "nunito sans";
  src: url(fonts/);
}
:root {
  --white: #FFFFFF;
  --deep-blue: #000000;
  --deep-orange: #CEA889;
  --background-color: #2B5265;
  --grey: #95A1B3;
}

* {
  margin: auto 0px;
  padding: 0px;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--background-color);
  color: var(--white);
  font-family: "lato", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 3rem;
  line-height: 1.7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .nav__list {
  list-style: none;
}
.header .nav__item {
  list-style: none;
}
.header .nav__link {
  list-style: none;
  text-decoration: none;
  color: currentColor;
}