@font-face {
  font-family: "nunito sans";
  src: url(fonts/);
}
@font-face {
  font-family: "nunito sans";
  src: url(fonts/);
}
body {
  margin: auto 0px;
  font-family: "Nunito Sans", sans-serif;
  background-color: var(--background-color);
}

:root {
  --white: #FFFFFF;
  --deep-blue: #000000;
  --deep-orange: #CEA889;
  --background-color: #2B5265;
  --grey: #95A1B3;
}

* {
  margin: auto 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: var(--white);
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
}

h1 {
  font-family: "Arvo";
  font-style: normal;
  font-weight: 400;
  font-size: 68px;
  line-height: 80px;
  color: var(--white);
}

h2 {
  font-family: "Arvo";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 67px;
  color: var(--deep-orange);
}

p {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 35px;
  color: var(--white);
}

li {
  display: block;
}

@media (max-width: 768px) {
  h1 {
    font-size: 32px;
    line-height: 40px;
  }
  h2 {
    font-size: 28px;
    line-height: 41px;
  }
  p {
    font-size: 16px;
    line-height: 32px;
  }
}
@media (max-width: 560px) {
  p {
    font-size: 14px;
    line-height: 22px;
  }
  h2 {
    font-size: 22px;
    line-height: 27px;
  }
}
.general_btn {
  background-color: var(--deep-orange);
  width: 180px;
  max-width: 100%;
  color: var(--white);
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 30px;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.general_btn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
main .container {
  margin: 30px;
}
@media (max-width: 560px) {
  main .container {
    margin: 15px;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0px 120px 30px 0px;
}
@media (max-width: 768px) {
  header ul {
    display: block;
  }
  header ul li {
    display: block;
    padding: 0px 20px 15px 0px;
  }
}

.page_banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("/assets/hero.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  margin-bottom: 200px;
}
@media (max-width: 768px) {
  .hero_content {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 100px;
  }
}
.hero_content .hero-brief--text {
  margin: 20px 0;
}
@media (max-width: 560px) {
  .hero_content {
    margin-bottom: 78px;
  }
}

.call_out {
  padding: 25px;
  margin: 20px;
  top: -6rem;
  background: rgba(0, 0, 0, 0.33);
  border-radius: 20px;
  margin-top: 80px;
}
.call_out .call_out--header {
  color: var(--white);
}

.event_lineup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.event_lineup img {
  height: 50%;
  width: 80%;
}
@media (max-width: 768px) {
  .event_lineup img {
    width: 100%;
    margin-bottom: 30px;
  }
}
.event_lineup .event_lineup--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  padding: 15px;
}
@media (max-width: 768px) {
  .event_lineup {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 560px) {
  .event_lineup .event_lineup--list img {
    height: 40%;
    width: 20px;
  }
}
.event_lineup .event_lineup--list ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--white);
}

.background_shadow {
  background: rgba(0, 0, 0, 0.33);
  border-radius: 20px;
  margin-top: 80px;
}

.meal_section--container .meal_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.meal_section--container .meal_section .meal_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.meal_section--container .meal_section .meal_item p {
  padding: 15px 0px;
  text-align: center;
}
.meal_section--container .meal_section .meal_item img {
  width: 50%;
  height: 50%;
}
@media (max-width: 768px) {
  .meal_section--container .meal_section .meal_item img {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .meal_section--container .meal_section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.booking_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0px 15px;
}
@media (max-width: 560px) {
  .booking_section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.booking_section .booking_table--section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 15px;
}
@media (max-width: 560px) {
  .booking_section .booking_table--section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.booking_section img {
  width: 50%;
  margin-bottom: 5px;
}
@media (max-width: 560px) {
  .booking_section img {
    width: 100%;
  }
}

.store_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.store_section .store_items--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  padding: 30px 0px;
}
.store_section .store_items--container .store_item img {
  max-width: 250px;
  width: 100%;
  max-height: 250px;
  height: 100%;
}
.store_section .store_items--container .store_item--description-container {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 52px;
}

.operation-times--section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  color: var(--white);
}
@media (max-width: 768px) {
  .operation-times--section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    width: 100%;
    padding: 15px;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 50px solid transparent;
  -o-border-image: url("/assets/ropes-02.png") 100 repeat;
     border-image: url("/assets/ropes-02.png") 100 repeat;
}
footer li {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: inline-block;
  margin: 0px 15px;
}
footer li a {
  color: var(--deep-orange);
}
@media (max-width: 560px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .social-media-links {
    padding-top: 20px;
  }
  footer .social-media-links li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}