

@font-face {
    font-family: "nunito sans";
    src: url(fonts/);
  }
  @font-face {
    font-family: "nunito sans";
    src: url(fonts/);
  }
  :root {
    --white: #FFFFFF;
    --deep-blue: #000000;
    --deep-orange: #CEA889;
    --background-color: #2B5265;
    --grey: #95A1B3;
  }
  
  * {
    margin: auto 0px;
    padding: 0px;
  }
html{
    // difines what 1rem is:
    font-size: 62.5%;
  }
  
  body{
    background-color: var(--background-color);
    color: var(--white);
    font-family: 'lato', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 3rem;
    line-height: 1.7;
    box-sizing: border-box;
  }


.header{
    
    .nav{
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__list{
            list-style: none;
        }
        &__item{
            list-style: none;
        }
        &__link{
            
                list-style: none;
                text-decoration: none;
                color: currentColor;
            }
        }
}


  




