:root{
    --white: #FFFFFF;
    --deep-blue: #000000;
    --deep-orange: #CEA889;
    --background-color: #2B5265;
    --grey: #95A1B3;
    }
    * { 
        margin: 0;
        padding: 0;
        
    }
    a{
     text-decoration: none;
    }
    li{
        display: block;
        // line-height: 2.5;
    }
    
    h2{
        color: var(--deep-orange);
        font-size: 1.5rem;
        font-weight:100;
    }
    body{
        box-sizing: border-box;
        background-color: var(--background-color);
        font-family: sans-serif;
        color: var(--white);
    }
    img{
        display: block;
        max-width: 100%;
        max-height: 100%;
    }

    // grid setup

    .grid{
        display: grid;
        grid-gap: 15px;
        place-items: center;



        @media (min-width: 768px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media (min-width: 992px) {
            grid-template-columns: repeat(3, 1fr);
        }
        
        .col{
            // background-color: pink;
            grid-gap: 15px;
            padding: 15px;
            
            &.image_block{
                align-self: start;
                padding: 0;
            }
        }
    }
    

    // utility classes
    .line_img{
        background-image: url('/assets/ropes-02.png');
        // width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 10px;
        padding: 10px;
        margin-top: 15px;
        margin-bottom: 5rem;

    }
    .container{
        width: 1024px;
        max-width: 100%;
        z-index: 1;
    }
    .pad_bottom--15{
        padding-bottom: 15px;
    }
    
    .pad_ltrb--80{
        padding: 80px 40px;
    }
    .pad_trb--80{
        padding-top: 80px;
        padding-right: 40px;
        padding-bottom: 80px;
    }
    .pad_ltb--80{
        padding-left: 40px;
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .pad_tb--80{
        padding: 80px 0px;
    }
    .center{
        display: flex;
        align-items: center;
    }

    .general_btn{
        background-color: var(--deep-orange);
        width: 180px;
        max-width: 100%;
        color: var(--white);
        text-decoration: none;
        border: 2px solid transparent;
        font-weight: bold;
        padding: 10px 25px;
        border-radius: 30px;
        transition: transform .4s; 
    }
    .general_btn:hover{
        transform: scale(1.2);
    }

// Hero section

.hero{
    display: flex;
    background-image: url('/assets/hero.png');
	height: 100vh;
	width: 100%;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    // background: linear-gradient(180deg, #535268 0%, rgba(83, 82, 104, 0) 100%);
    // opacity: 0.62;
    flex-direction: column;


    .nav{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        ul{
            display: grid;
            grid-template-columns: repeat(6,1fr);
            margin-top: 15px;
            align-items: center;
            
            font-size: 12px !important;
            .nav_list{
                display: flex;
                flex-direction: row;
                .logo{
                    background-image: url('/assets/WFHLogo-Whiteversion1.svg');
                    width: 80%;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    padding: 20px;
                }
                .nav_list img{
                    
                    max-width: 50% !important;
                }
                a{
                    color: var(--white);
                }
            }
        } 
        .hero_content{
            .hero_content--iner-container{
                display: flex;
                flex-direction: column;
            }
        }
        @media (max-width:768px) {
            display: none;
            .hero_content{
        margin-top: 40px;
         
            }            
        }
    }
.btn{
	background-color: var(--grey);
	color: var(--white);
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 25px;
	border-radius: 30px;
	transition: transform .4s; 
    color: var(--deep-orange);
}
.btn:hover{
	transform: scale(1.2);
}
.hero_content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
	position: absolute;
	top: 40%;
	left:8%;
	transform: translateY(-50%);
    color: var(--white);
    min-width: 50%;
    width: 50%; 
}
.hero-header{
    font-size: 2.5rem;
    @media (max-width: 768px) {
        font-size: 1.5rem;
        padding-bottom: 20px;
    }
}
.hero-brief--text{
    font-size: 15px;
    @media (min-width: 768px) {
        font-size: 18px;
        padding-bottom: 31px;
    }
}
}

// call out section

.call_out{
    position: relative;
    width: 80%;
    left: 100px;
    padding: 25px;
    top: -6rem;
    background: rgba(0, 0, 0, 0.33);
    border-radius: 20px;
    
    &.call_out--header{
    font-family: 'Arvo';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 67px;
    }
    &.call_out--text{
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        // line-height: 33px;
    }
}

// second section

.event_lineup--container{
   display: flex;
   flex-direction: row;
   align-items: center; 
   
   .event_lineup--inner-container{
       display: flex; 
       align-items: end;
       
       
       img{
           max-height: 250px;
        }
        h2{
            font-family: 'Arvo';
            font-style: normal;
            font-weight: 400;
            font-size: 48px;
            line-height: 73px;
        }
        li{
            line-height: 4;
            
        }
        ul{
            text-align-last: justify;
        }
        @media (max-width: 768px) {
            h2{
                font-family: "Arvo";
                font-style: normal;
                font-weight: 300;
                font-size: 33px;
                line-height: 38px;
            }
            li{
                line-height: 2;
            }
        }
        @media (max-width: 560px) {
            align-items: center;
            h2{
                font-size: 24px;
                line-height: 47px;
            }
        }
    }
    @media (max-width: 560px) {
    //  flex-direction: column;    
    //  text-align: center;   
    display: grid;
    justify-content: center;
    }
}

.event_lineup--background-image{
    background-image: url('/assets/WestlakeFishHouseSummer.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 250px;
    height: 250px;  
    padding: 50px;
    margin-bottom: 20px;
    
}

// Meals section

.background_shadow{
    
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-around;
    background: rgba(0, 0, 0, 0.33);
    border-radius: 20px;
    margin: 0px 50px;
    // flex-direction: row-reverse;
    // align-items: center;
    
    .meal_section{
        display: flex;
        line-height: 3;
        justify-content: space-around;
        margin-top: -90px;
        
        img{
            width: 60%;
        }

        @media (max-width: 560px) {
            flex-direction: column;
            img{
                width: 100%;
            }
        }
        @media (max-width: 560px) {
            align-self: flex-start;
            line-height: 4;
            .meal_item{
                margin-bottom: 30px;
            }
        }

    }

    
}

.booking_section{
    display: flex;
    justify-content: space-around;
    h2{
        font-family: 'Arvo';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 59px;
    }

    .booking_table--section{
        display: flex;
        @media (max-width:560px) {
            flex-direction: column;
            align-items: center;
            padding-bottom: 15px;
        }

    }
    @media (max-width: 768px) {
        h2{
            font-size: 18px;
            line-height: 40px;
        }        
    }
    @media (max-width:560px) {
        flex-direction: column;
        align-items: center;
        padding-bottom: 15px;
    }
}

    // Store section
    .store_section{
        display: flex;
        flex-direction: column;
        align-items: center;
        h2{
            color: var(--white);
        }
        @media (max-width:560px) {
            margin-top: 20px;

        }
        
        .store_items--inner-container{
            display: grid;
            grid-template-columns: repeat( 4,1fr);        
            grid-gap: 15px;
            line-height: 1.5;
            
            @media (max-width: 768px) {
                grid-template-columns: repeat(2, 1fr);
            }
            @media (max-width: 560px) {
                grid-template-columns: 1fr;
                .store_item{
                    justify-self: center;
                }
            }
            .store_item--image-container{
                margin-bottom: 10px;
            }
            
        }
    }
    
    // operation-times--section
   
        .operation-times--section{
            display: flex;
            justify-content: flex-end;
            flex-direction: row;
            h2{
                font-family: 'Arvo';
                font-style: normal;
                font-weight: 400;
                font-size: 48px;
                line-height: 73px;
            }
            .oparation-times--section{
                display: flex;
                align-items: center;
                
            }
            img{
                max-width: 240px;
            }
            li{
                line-height: 4;
            }
            @media (max-width: 768px) {
                h2{
                    font-family: "Arvo";
                    font-style: normal;
                    font-weight: 400;
                    font-size: 49px;
                    line-height: 58px;
                }
                li{
                    line-height: 2;
                }
            }
            @media (max-width: 560px) {
                flex-direction: column-reverse;
            }
        }
        .operation-times--back-ground-image{
            background-image: url('/assets/FishHouseatsunrise.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 300px;
            height: 300px;  
            padding: 50px;
            
            
        } 
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
        li{
            justify-content: space-between;
            display: inline-block;
            margin: 0px 15px;
            
            a{
                color: var(--deep-orange)
            }
        }
    @media (max-width: 560px) {
        flex-direction: column;
        .social-media-links{
            padding-top: 20px;
            li{
                display: flex;
                flex-direction: column;
                
            }
        }

    }

}
