:root{
    --white: #FFFFFF;
    --deep-blue: #000000;
    --deep-orange: #CEA889;
    --background-color: #2B5265;
    
}
body{
    background-color: lightblue;
    font-family: sans-serif;
    margin: 0 auto;
    background-color: var(--background-color);
    box-sizing: border-box;
    height: 100%;
    padding: 20px;
    margin: 0px;
    
}
.container{
    box-sizing: border-box;
    background-color: #ffeead;
    height: 100%;
    margin: 0px;
}
.col{
    display: grid;
    grid-template-columns: 1fr;
}



nav{
    color: var(--white);
    grid-column: span 8;
}

.navbar ul{
    display: flex;
}
.navbar-links{
    display: inline-block;
    flex-direction: row;
    justify-content: space-between;
}
.navbar-links a{
    font-size: 20px;
    text-decoration: none;
    color: var(--white);
}

/* hero styling */

.hero-section{
    background-image: url('assets/hero.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 500px; 
    color: var(--white);
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(1, 4fr);
}

.hero-header{
    font-size: 2rem;
}
.hero-brief--text{
    font-size: 0.8rem;
}

 /* --fix hero gradient */

 /* .hero-section--gradient{
    background-image: linear-gradient(#535268);
 } */
 
 /* MUSIC SECTOIN LINEUP */
 .music-lineup--section{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
 }
 
 /* FOOD SECTION  */
 
 .food-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
 }
 
 /* CONTACT SECTION */
 .contact-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
 }

 /* WESLAKE APPAREL */

 .shoping-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
 }

 /* Operation-times--section */

 .operation-times--section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
 }


 /* FOOTER */

 footer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
 }

